@import "tailwindcss";

:root {
    --color-primary: #410032;
    --color-primary-content: #fff;
    --color-secondary: #66004f;
    --color-secondary-content: #fff;
    --color-accent: #d1006a;
    --color-accent-content: #ff0;
}

#imgtag, #imgtag > * {
  font-weight: bold !important;
}

@theme {
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 128rem;
    --breakpoint-5xl: 144rem;

    --font-display: "Mona Sans", var(--font-sans);
}

@theme inline static {
    --color-primary: var(--color-primary);
    --color-primary-content: var(--color-primary-content);
    --color-secondary: var(--color-secondary);
    --color-secondary-content: var(--color-secondary-content);
    --color-background: var(--color-background);
    --color-accent: var(--color-accent);
    --color-accent-content: var(--color-accent-content);
}